{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | Flux Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'flux/admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
  <a href="{% url 'admin:index' %}">
    <span>Flux</span>
    <small>Administration</small>
  </a>
</div>
{% endblock %}

{% block nav-global %}
<a class="flux-public-link" href="{% url 'dashboard:home' %}">Dashboard</a>
{% endblock %}
