[Unit]
Description=Flux Django Web
After=network-online.target postgresql.service flux-questdb.service
Wants=network-online.target postgresql.service flux-questdb.service
PartOf=flux.target

[Service]
User=@@USER@@
Group=@@GROUP@@
WorkingDirectory=@@WEB_DIR@@
EnvironmentFile=@@ENV_FILE@@
Environment=PYTHONPATH=@@WEB_SRC_DIR@@:@@APP_DIR@@
ExecStart=@@VENV_DIR@@/bin/gunicorn flux.wsgi:application --bind @@WEB_BIND@@ --workers @@WEB_WORKERS@@ --threads @@WEB_THREADS@@ --timeout 120
Restart=always
RestartSec=10

[Install]
WantedBy=flux.target
